<footer>
	<ul class="clearfix">
	   	{{#header.links}}
	   	<li>
	   		<a href="{{link}}" title="{{text}}"><i class="fa fa-{{icon}}"></i><span>{{text}}</span></a>
	   	</li>
	   	{{/header.links}}
	</ul>
	<section class="copyright">&copy; {{brand}} {{moment format="YYYY"}}</section>
</footer>
